/* ------ LOGIN SECTION ------ */

.login-box-container {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-header {
    text-align:center;
    font-weight: bold;
    font-size: 2rem;
    padding: 15px;
    color:rgb(68, 19, 113);
}

.input-box {
    height: 32px;
    width: 75%;
    padding: 15px;
    padding-left: 45px;
    padding-bottom: 25px;
    padding-top: 10px;
    text-align: left;
    
}

.signup-hr {
    background-color: rgb(243, 240, 240);
    border: none; 
    height: 2px;
}

.login-field {
    width: 93%;
    height: 100%;
    background-color: rgb(243, 240, 240);
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    color: rgb(31, 30, 30);
}

.login-field:focus {
    outline:none;
    background-color: rgb(235, 232, 232);;
}

.forgot-password-box {
    text-align: right;
    padding: 5px;
    padding-right: 50px;
    padding-bottom: 15px;
    font-size: 0.85rem;
}

.validation-text {
    font-size: 0.85rem;
    color: red;
}

.login-button {
    width:75%;
    height: 45px;
    border: 0px;
    border-radius: 5px;
    background: linear-gradient(45deg, #2e003e, #3c0066, #4b0082, #5d0090, #2e003e);
    font-weight: bold;
    font-size: 0.9rem;

}

.login-button:hover {
    background: linear-gradient(45deg, #5e3370, #6f3a94, #7e44a1, #9054b0, #5e3370);
    cursor: pointer;
}

.register-link {
    padding: 10px;
}

.login-link {
    text-decoration: none; 
    color:rgb(68, 19, 113);
    font-weight: normal;
}

.login-link:hover {
    color:rgb(191, 141, 238);
}

.password-link-box {
    font-size: 0.85rem;
    text-align: center;
    padding: 22px;
    padding-top: 0px;
}

.welcome-text {
    font-weight:lighter; 
    font-size: larger; 
    padding:15px; 
    padding-left: 30px; 
    padding-right:30px
}

.welcome-stats {
    display:flex;
    justify-content: space-between;
    font-size: larger; 
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.welcome-username {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color:rgb(68, 19, 113);
    padding: 10px;
}

.welcome-level {
    text-align: center;
    font-weight: bold;

}
.welcome-balance {
    text-align: center;
    font-weight: bold;
    color:rgb(68, 19, 113);
}


.welcome-list {
    text-align: left;
    padding-left: 50px;
    padding-bottom: 30px;
    font-weight: lighter;
}


/* ------ MAIN SECTION ------- */

body {
    background: linear-gradient(to right, rgb(3, 244, 107), cyan);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(69, 69, 69);
    overflow: auto;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px; 
    color: rgb(68, 19, 113);
}

#main {
    margin-left: 25%;
}

#sidebar {
    background-color: white;
    position: fixed;
    height: 100%;
}

.sidebar-cell {
    display: flex;
    max-width: 200px;
    text-align: left;
    align-content: center;
}

.sidebar-btn {
    background-color: white;
    padding: 8px;
    padding-top: 9px;
    padding-left: 20px;
    width: 100%;
    text-align: left;
    color:rgb(68, 19, 113);
    justify-content: center;
}

.sidebar-btn-clicked {
    background: linear-gradient(to right, rgb(3, 244, 107), cyan);
    padding: 8px;
    padding-top: 9px;
    padding-left: 20px;
    padding-right: 0px;
    width: 100%;
    text-align: left;
    color:rgb(68, 19, 113);
    font-weight: bold;
    justify-content: center;
}

.sidebar-btn:hover {
    background-color: #e8e8ed;
    color:rgb(126, 108, 143);
}

.main-btn {
    height: 45px;
    background: linear-gradient(45deg, #2e003e, #3c0066, #4b0082, #5d0090, #2e003e);
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.main-btn:hover {
    background: linear-gradient(45deg, #5e3370, #6f3a94, #7e44a1, #9054b0, #5e3370);
}

.main-btn-clicked {
    height: 45px;
    color:rgb(68, 19, 113);
    background-color: #d3d3d9;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.bright-btn {
    height: 45px;
    color:rgb(68, 19, 113);
    background: linear-gradient(to right, rgb(3, 244, 107), cyan);
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.bright-btn:hover {
    color: rgb(126, 108, 143);
    background: linear-gradient(to right, rgb(92, 254, 162), rgb(134, 246, 246));
}

.logout-text {
    background-image: linear-gradient(90deg, rgb(3, 244, 51), rgb(0, 149, 255));
    background-clip: text;
    color: transparent;
}

.sub-header {
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(68, 19, 113);
}

.small-sub-header {
    font-weight: bold;
    font-size: 1.15rem;
    color: rgb(68, 19, 113);
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.level-and-username {
    font-weight: bold;
    font-size: 1rem;
    color: rgb(68, 19, 113);
    display: flex;
    text-align: right;
}

.balance {
    font-weight: bold;
    font-size: 1rem;
    color: rgb(68, 19, 113);
    text-align: right;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.level-up-container {
    text-align: center;
    color: rgb(68, 19, 113);
}

.level-up-text {
    font-weight: bold;
    font-size: x-large;
}


/* ------ FRIENDS SECTION ------ */

.friends-buttons-container {
    display: flex;
    width:35%;
}

.friends-button {
    height: 45px;
    background: linear-gradient(45deg, #2e003e, #3c0066, #4b0082, #5d0090, #2e003e);
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    border: none;
    outline: none; 
    box-shadow: none;
}

.friends-button:hover {
    background: linear-gradient(45deg, #5e3370, #6f3a94, #7e44a1, #9054b0, #5e3370);
}

.search-container {
    padding: 5px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.search-bar-light {
    border-radius: 15px;
    border: 1px solid white;
    outline: none;
    background-color: white;
    height: 35px;
    width: 500px;
    padding: 10px;
    padding-bottom: 13px;
    color: rgb(44, 43, 43);
    font-weight: bold;
}

.search-bar-light:focus {
    background-color:#e7e7ea;
    border: 1px solid #e7e7ea;
}

.search-bar-dark {
    border-radius: 15px;
    border: 1px solid white;
    outline: none;
    background-color: #e7e7ea;
    height: 35px;
    width: 500px;
    padding: 10px;
    padding-bottom: 13px;
    color: rgb(44, 43, 43);
    font-weight: bold;
}

.search-bar-dark:focus {
    background-color: #d3d3d9;
    border: 1px solid #e7e7ea;
}


/* ------- MY ACCOUNT SECTION ------- */

.account-details-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5% ;
    padding-bottom: 1%;
}

.account-detail-container {
    padding: 2.5%;
}

.big-divide {
    border-top: 3px solid #e7e7ea
}

.account-detail {
    font-weight: lighter;
}

.edit-details-buttons {
    display: flex;
    justify-content: space-between;
    width:215px;
}

.cancel-button {
    height: 45px;
    background-color:#ebebee;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.cancel-button:hover {
    background-color:#f9f9fb;
}

.my-codes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.my-codes-button {
    align-items: center;
    justify-content: center;
    background-color:#ebebee;
    color: rgb(68, 19, 113);
    width: 40px;
    height: 40px;
    font-size: larger;
    border-radius: 5px;
}

.my-codes-button:hover {
    background-color: #d7d7d8;
}

.code-container {
    display: flex;
    padding: 20px;
    font-weight: lighter;
}

.code-info {
    padding-left: 8px;
    padding-right: 50px;
    width:30%;
}

.copy-button-container {
    width:10%;
}

.copy-button {
    color:#929292 
}

.copy-button:hover {
    color: rgb(68, 19, 113);
}

.no-codes-container {
    width:100%;
    text-align:center;
    padding:40px;
}

.modal {
    padding: 1em;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    text-align: center;

    & > * {
        margin: 0 0 0.5rem 0;
    }
}

.modal::backdrop {
    background: rgb(0 0 0 / .3);
}

.delete-account-text {
    padding: 10px;
    font-weight: lighter;
}

.delete-buttons {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}



/* ------- REWARDS SECTION-------- */

.daily-rewards-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
    height: 200px;
}

.reward-container {
    width: 70%; 
    height:100%; 
    padding:3%;
}

.claim-rewards-container {
    text-align: center;
    padding:10px;
}

.daily-reward {
    text-align: center;
    font-weight: bolder;
    font-size: 3.1rem;
}

.progression-rewards-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.progression-rewards-sub-container {
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5px;
    padding-bottom: 10px;
}


/* ------- STORE SECTION -------- */

.store-container {
    display: flex;
}

.store-item-container {
    width: 25%;
    text-align: center;
    padding: 20px;
}

.store-text {
    font-weight: lighter;
    padding: 5px;
    font-size: large;
}


/* ------- PROGRESSION SECTION ------ */

.my-level-container {
    display:flex; 
    justify-content:center; 
    width:100%; 
    padding: 50px;
}

.my-level {
    font-size: 5rem;
    font-weight: bolder;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.progress-bar-container {
    width:85%;
    padding: 5px;
    padding-top: 15px;
}

.progress-bar {
    -webkit-appearance: none;
    appearance: none;

    width:100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e7e7ea;
}

.progress-bar::-webkit-progress-value {
    background: linear-gradient(to right, rgb(3, 244, 107), cyan);
    border-radius: 10px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #e0e0e0;
    border-radius: 10px;
}

.next-level-xp {
    color: rgb(68, 19, 113);
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
}


/* --------- HOME SECTION ----------- */

.my-rankings-header {
    display: flex;
    width: 100%;
    padding-left: 15px;
    padding-top: 20px;
    color: white;
}

.my-rankings-hr {
    background-color: rgb(95, 38, 149); 
    border: none; 
    height: 1px;
}

.my-rankings-category-container {
    color: white;
}

.my-rankings-category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 5px;
    padding-left: 15px;
}

.my-rankings-category-button {
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 31, 130);
    color: white;
    width: 40px;
    height: 40px;
    font-size: larger;
    border-radius: 5px;
}

.my-rankings-category-button:hover {
    background-color: rgb(63, 16, 107);
}

.my-rankings-button {
    width: 100%;
    padding-left: 50px;
}

.my-rankings-button:hover {
    background-color: rgb(126, 108, 143);
}

.my-rankings-button-container {
    display: flex;
    align-items: center;
}

.my-rankings-rank-container {
    width: 150px;
    text-align: left;
}

.my-rankings-rank-inner-container {
    width:min-content;
}

.my-rankings-rank {
    background-image: linear-gradient(to right, rgb(3, 244, 51), rgb(0, 149, 255));
    background-clip: text;
    color: transparent;
    padding:10px;
    padding-left: 0px;
    font-weight:bolder;
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.my-rankings-exercise-container {
    width: 300px;
    text-align: left;
}

.my-rankings-exercise {
    padding:10px;
    font-weight: lighter;
    color: white;
}

.my-rankings-first-message {
    text-align: center;
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 10px;
    padding-top: 35px;
}

.my-rankings-second-message {
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-weight: lighter;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 25px;
}

.my-rankings-scroll-container {
    max-height: 225px;
    overflow-y: auto;
}

.my-rankings-scroll-container::-webkit-scrollbar {
    width: 15px;
}

.my-rankings-scroll-container::-webkit-scrollbar-track {
    background: transparent; 
}

.my-rankings-scroll-container::-webkit-scrollbar-thumb {
    background-color: rgb(95, 38, 149); 
    border-radius: 10px;
}

.search-leaderboards-container {
    display:flex;
    align-items:end;
    padding-top: 15px;
    padding-bottom: 15px;
}

.search-leaderboards-exercise-container {
    width:350px;
    padding-left: 20px;
    display:flex
}

.search-leaderboards-reps-container {
    width: 350px;
    padding-right: 50px;
    display: flex;
}

.search-leaderboards-input {
    display: flex;
    pointer-events: none;
    background-color: #e8e8ed;
    color:#767676;
    height:45px;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    width: 80%;
}

.search-result-button {
    width: 100%;
    height: 50px;
    text-align: left;
    padding-left: 50px;
    font-weight: bold;
}

.search-result-button:hover {
    background-color: #e8e8ed;
}

.search-leaderboards-scroll-container {
    max-height: 280px;
    overflow-y: auto;
}

.search-leaderboards-scroll-container::-webkit-scrollbar {
    width: 15px;
}

.search-leaderboards-scroll-container::-webkit-scrollbar-track {
    background: transparent; 
}

.search-leaderboards-scroll-container::-webkit-scrollbar-thumb {
    background-color: #e8e8ed; 
    border-radius: 10px;
}

.leaderboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.leaderboard-info-container {
    display: flex;
    align-items: center;
}

.back-button {
    background-color: blue;
    width: 50px;
    height: 50px;
}

.leaderboard-button-container {
    display: flex;
    align-items: center;
}

.leaderboard-rank-container {
    width: 150px;
    text-align: left;
}

.leaderboard-rank-inner-container {
    width:min-content;
}

.leaderboard-rank {
    background-image: linear-gradient(to right, rgb(3, 244, 51), rgb(0, 149, 255));
    background-clip: text;
    color: transparent;
    padding:10px;
    padding-left: 0px;
    font-weight:bolder;
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.leaderboard-username-container {
    width: 300px;
    text-align: left;
}

.leaderboard-username {
    padding:10px;
    font-weight: bold;
    color: rgb(68, 19, 113);
}

.leaderboard-score {
    padding:10px;
    font-weight: bold;
    color:rgb(80, 79, 79);
}

.leaderboard-first-message {
    text-align: center;
    color: rgb(68, 19, 113);
    font-size: 1.75rem;
    font-weight: bold;
    padding: 10px;
    padding-top: 35px;
}

.leaderboard-second-message {
    text-align: center;
    color: rgb(68, 19, 113);
    font-size: 1.25rem;
    font-weight: lighter;
    padding: 10px;
    padding-top: 0px;
}

.leaderboard-scroll-container {
    max-height: 500px;
    overflow-y: auto;
}

.leaderboard-scroll-container::-webkit-scrollbar {
    width: 15px;
}

.leaderboard-scroll-container::-webkit-scrollbar-track {
    background: transparent; 
}

.leaderboard-scroll-container::-webkit-scrollbar-thumb {
    background-color: #e8e8ed; 
    border-radius: 10px;
}

.new-entry-modal-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35%;
}

.new-entry-exercise-container {
    color:rgb(68, 19, 113);
    text-align: left;
    padding: 9px;
}

.new-entry-reps-container {
    color:rgb(68, 19, 113);
    text-align: left;
    padding: 9px;
}

.new-entry-score-container {
    color:rgb(68, 19, 113);
    text-align: left;
    padding: 9px;
}

.new-entry-video-container {
    color:rgb(68, 19, 113);
    text-align: left;
    padding: 9px;
}

.new-entry-submit-container {
    text-align:center;
    padding: 9px;
}

.new-entry-score-inner-container {
    display: flex;
    align-items:baseline;
}

.new-entry-label {
    padding-left: 5px;
    font-weight: lighter;
}

.new-entry-exercise {
    pointer-events: none;
    background-color: #e8e8ed;
    color:#767676;
    height:40px;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    width: 80%;
}

.new-entry-reps {
    pointer-events: none;
    background-color: #e8e8ed;
    color:#767676;
    height:40px;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    width: 14%;
}

.new-entry-score-num {
    background-color: #e8e8ed;
    color:#767676;
    height:40px;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    width: 17%;
}

.new-entry-score-num:focus {
    outline:none;
    background-color: #d9d9dc;
}

.new-entry-score-decimal {
    background-color: #e8e8ed;
    color:#767676;
    height:40px;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    width: 14%;
}

.new-entry-score-decimal:focus {
    outline:none;
    background-color: #d9d9dc;
}

.new-entry-score-text {
    font-weight: bolder;
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
}

.video-container {
    padding: 9px;
}


/* --------- MY LEADERBOARDS SECTION ----------- */

.create-join-container {
    display: flex; 
    justify-content: space-between;
}

.create-leaderboard-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.create-leaderboard-modal-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 23%;
}

.create-leaderboard-name {
    background-color: #e8e8ed;
    color:#767676;
    height:45px;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    width:280px;
}

.create-leaderboard-name:focus {
    outline:none;
    background-color: #d9d9dc;
}

.create-leaderboard-dropdowns-container {
    display:flex;
    align-items:end;
}

.create-leaderboard-button {
    width: 100%;
    height: 40px;
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
    color: rgb(83, 82, 82);
}

.create-leaderboard-button:hover {
    background-color: #e8e8ed;
}

.create-leaderboard-scroll-container {
    max-height: 160px;
    overflow-y: auto;
}

.create-leaderboard-scroll-container::-webkit-scrollbar {
    width: 15px;
}

.create-leaderboard-scroll-container::-webkit-scrollbar-track {
    background: transparent; 
}

.create-leaderboard-scroll-container::-webkit-scrollbar-thumb {
    background-color: #e8e8ed; 
    border-radius: 10px;
}

.join-leaderboard-container {
    display: flex;
    align-items:start;
    justify-content: space-between;
}

.join-leaderboard-right-container {
    width: 55%;
    padding-top: 5px;
}

.join-leaderboard-inner-container {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-bottom: 5px;
}

.join-leaderboard-code {
    background-color: #e8e8ed;
    color:#767676;
    height:45px;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    width: 200px;
}

.join-leaderboard-code:focus {
    outline:none;
    background-color: #d9d9dc;
}

.join-code {
    font-size:2rem;
    font-weight: bold;
}

.my-leaderboards-first-message {
    text-align: center;
    color: rgb(68, 19, 113);
    font-size: 1.75rem;
    font-weight: bold;
    padding: 10px;
    padding-top: 35px;
}

.my-leaderboards-second-message {
    text-align: center;
    color: rgb(68, 19, 113);
    font-size: 1.25rem;
    font-weight: lighter;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 25px;
}

.leaderboard-member-container {
    display: flex;
    justify-content: right;
    color:white;
    font-weight: bold;
    padding: 10px;
}

.leaderboard-member {
    width: 160px;
    text-align: left;
}

.my-rankings-category-button.blue:hover {
    background-color: rgb(44, 163, 249) !important;
}


.modal-scroll-container {
    max-height: 475px;
    overflow-y: auto;
}

.modal-scroll-container::-webkit-scrollbar {
    width: 15px;
}

.modal-scroll-container::-webkit-scrollbar-track {
    background: transparent; 
}

.modal-scroll-container::-webkit-scrollbar-thumb {
    background-color: #e8e8ed; 
    border-radius: 10px;
}



.league-table-list-container {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.league-table-rank {
    color: white;
    padding:10px;
    padding-left: 0px;
    font-weight:bolder;
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.league-table-username {
    font-weight: bold;
    color: rgb(68, 19, 113);
}

.league-table-hr {
    background: linear-gradient(to right, rgb(72, 252, 108), rgb(77, 180, 253));
    border: none; 
    height: 1px;
}

.end-of-league-reward {
    display: flex; 
    justify-content: center;
    font-size:2rem;
    font-weight: bold;
    color:white;
    text-shadow: 2px 2px 4px rgb(166, 165, 165);
}